<div class="header-slider">
  <div style="height: 305px">
    <carousel interval="5000" no-wrap="noWrapSlides">
      <slide ng-repeat="image in gallery track by $index">
        <img style="width: 100%; height: 800px;" src="{{image}}" style="margin:auto;">
      </slide>
    </carousel>
  </div>
</div>
<div class="content" style="margin-top: 400px;">
  <div class="container">
    <div class="blogs-top">
      <div class="blog-top">
        <div class="col-md-7 col-lg-7 col-xs-12 col-sm-6 blogs-top">
          <h1>{{post.title}}</h1>
          <h3>{{post.tagline}} <i class="mess"><img src="public/images/msg_icon.png" width="39" height="39" /></i></h3>
          <div class="stars">
            <form action="">
              <input class="star star-5" id="star-5" ng-checked="postRating.stars === 5" type="radio" ng-click="rating(5)" name="star"/>
              <label class="star star-5" for="star-5"></label>
              <input class="star star-4" id="star-4" ng-checked="postRating.stars === 4" type="radio" ng-click="rating(4)" name="star"/>
              <label class="star star-4" for="star-4"></label>
              <input class="star star-3" id="star-3" ng-checked="postRating.stars === 3" type="radio" ng-click="rating(3)" name="star"/>
              <label class="star star-3" for="star-3"></label>
              <input class="star star-2" id="star-2" ng-checked="postRating.stars === 2" type="radio" ng-click="rating(2)" name="star"/>
              <label class="star star-2" for="star-2"></label>
              <input class="star star-1" id="star-1" ng-checked="postRating.stars === 1" type="radio" ng-click="rating(1)" name="star"/> 
              <label class="star star-1" for="star-1"></label>
            </form>
          </div>

          <div class="cnts">
           
            <ul class="star">
                <li><a href="" ng-click="shareFacebook()"><i class="fb"> </i></a></li>
              <li><a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text={{post.title}},{{post.tagline}}&url={{url}}" ><i class="twt"> </i></a></li>
              <li><a href="" ng-click="pin()"><i class="fa fa-pinterest fa-2x"> </i></a></li>
              <li><a href="#"><i class="bg"> </i></a></li>
              <li><a href="#"><i class="msg"> </i></a></li>
              <li><a href="#"><i class="md"> </i></a></li>
              <div class="clearfix"></div>
            </ul>
            </div>
          <h2>{{post.created}}</h2>
          <h2><strong>{{currentEvent.name}}</strong></h2>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-6 blogs-top post">
          <div class="bs-example bs-example-tabs top-tabs">
            <ul id="myTab" class="nav nav-tabs" ng-show="post.events">
              <li class="{{currentEvent === item? 'active' : ' '}}" ng-repeat="item in post.events" ><a href="" ng-click="changeEvent(item)" >{{item.name}}</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="profile">
                <ul class="grid-part">
                  <li ng-repeat="vendor in currentEvent.vendors"><a href="#/main/vendordetail/{{vendor.vendor}}"><i class="glyphicon glyphicon-ok-sign"> </i><i class="glyphicon glyphicon"> </i>{{vendor.type}}: <span ng-repeat="i in vendors | where : { id : vendor.vendor }">{{ i.business.name }}.{{ i.location[0] }}</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
        <div ng-show="post.content != null" ng-bind-html="post.content">
        {{post.content}}
        </div>
       <div ng-bind-html="currentEvent.content" class="post_content">

        </div>
      </div>

      <div class="blobgrid">
        <h5>OTHER REAL SOUTH EAST ASIAN INSPIRED WEDDINGS YOU MAY LIKE</h5>

                  <div class="col-md-8 col-lg-8 col-sm-8 blogs-top" ng-init="limit = 5">
                    <div class="col-md-4 col-lg-4 col-sm-4 bottom-grids vendor_thumb" ng-repeat="item in relatedPosts | before : limit">
          <a href="#/main/post/{{item.id}}" class="thumbnail_cir"><img id="bottom_grid_div" class="img-responsive" src="{{item.cover}}" title="name" alt=""></a>
          <h4>{{item.title}}
          </h4>
          <p>{{item.description.substring(0, 30)}}
          </p>
          <a href="#/main/post/{{item.id}}">
          <h6>SEE THEIR WEDDING STORY</h6>
          </a>
        </div>
        <div class="View-more">
          <a href="" class="morebtn hvr-sweep-to-top" ng-hide="limit >= relatedPosts.length" ng-click="limit = limit + 5">LOAD MORE</a>
          </div>
</div>
			 <div class="col-md-3 col-lg-3 col-sm-3 bottom-grids">
          <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li ng-repeat="i in recommended track by $index" class="{{currentRecommended.name === i.name? 'active': ''}}"><a href=""  ng-click="changeRecommended(i)">{{i.name.toUpperCase()}}</a></li>
            </ul>
            <div id="myTabContent" class="tab-content" style="border:1px solid #ccc;">
              <div class="" id="editor">
                <ul class="social-icon " >               
                  <li ng-repeat="post in currentRecommended.posts track by $index"><a href="#/main/post/{{post.id}}"><span><i><br />
                    {{post.ratings.length}}</i>{{post.title}}</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
			
        <div class=" clearfix"></div>
      </div>
    </div>
  </div>
</div>
