<style>
  .carousel-caption {
  margin-bottom: 500px;
  }
  .gallery-image:hover img{
  opacity: 0.4;
  filter: alpha(opacity=40);
  }
</style>
<!-- header-section-ends -->
<div class="header-slider">
  <div style="height: 305px">
    <carousel interval="3000" no-wrap="noWrapSlides">
      <slide ng-repeat="gallery in galleries track by $index" ng-if="gallery.cover" >
        <img style="width: 100%; height: 800px;" src="{{gallery.cover}}" style="margin:auto;">
        <div class="carousel-caption">
          <div class="col-md-8 col-lg-8 col-xs-10 col-xs-offset-1 banner-inner">
            <h3>{{gallery.title}}</h3>
            <div class="banner_div">
              <p class="col-lg-4 col-md-4 col-sm-7 hidden-sm hidden-xs">&nbsp;</p>
            </div>
            <h3>{{gallery.tagline}}</h3>
            <div class="clearfix"></div>
            <p>&nbsp;</p>
            <a class="morebtn hvr-sweep-to-top" href="" ui-sref="main.gallery({id : gallery.id})">VIEW THIS GALLERY</a>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</div>
<div class="content" style="margin-top: 500px;">
  <!---->
  <div class="container">
    <div class="grids-tops">
      <div class="filter-margin row">
        <div class="col-md-2 col-lg-2 col-sm-2">
          <select class="filter"ng-model="sortValue" >
            <option value="">Sort By Rating</option>
            <option value="'averageRating'">Highly rated</option>
            <option value="'-averageRating'">Low Rated</option>
          </select>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2">
          <select class="filter">
            <option>Sort By Date</option>
            <option>Oldest</option>
            <option>Newest</option>
          </select>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2">
          <select class="filter" ng-model="keyword" ng-options="keyword for keyword in keywords">
            <option value="">Sort By Keywords</option>

          </select>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2 filter-txt">
          <p>SORT BY COLOR</p>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 filter-txt">
          <a href="" ng-click="color = 'Dodger blue'" ><div class="foo" style="background-color:#13b4ff;"></div></a>
          <a href="" ng-click="color = 'purple'" > <div class="foo" style="background-color:#ab3fdd;"></div></a>
           <a href="" ng-click="color = 'Flamingo'" ><div class="foo" style="background-color:#f66d2b;"></div></a>
          <a href="" ng-click="color = 'Brandy Punch'" > <div class="foo" style="background-color:#d09230;"></div></a>
          <a href="" ng-click="color = 'Wattle'" > <div class="foo" style="background-color:#d8e25e;"></div></a>
           <a href="" ng-click="color = 'green'" ><div class="foo" style="background-color:#235f33;"></div></a>
          <a href="" ng-click="color = 'Monte Carlo'" > <div class="foo" style="background-color:#7dcac0;"></div></a>
          <a href="" ng-click="color = 'Blue'" > <div class="foo" style="background-color:#2093ba;"></div></a>
           <a href="" ng-click="color = 'ship cove'" ><div class="foo" style="background-color:#6379bc;"></div></a>
          <a href="" ng-click="color = 'sapphire'" > <div class="foo" style="background-color:#2b4596;"></div></a>
          <a href="" ng-click="color = 'Lavender Purple'" > <div class="foo" style="background-color:#ac8dbf;"></div></a>
           <a href="" ng-click="color = 'Plum'" ><div class="foo" style="background-color:#993f97;"></div></a>
           <a href="" ng-click="color = 'Maroon'" ><div class="foo" style="background-color:#d2263c;"></div></a>
           <a href="" ng-click="color = 'Pink'" ><div class="foo" style="background-color:#f075ae;"></div></a>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div id="type-masory" class="home-projects row">
            <!-- Project -->
            <div class="project masonry-item col-md-3 col-sm-6 col-xs-12 col-lg-4""  ng-repeat="gallery in galleries | before : galleryLimit | filter: keyword | filter : color | orderBy : sortValue">
              <div class="project-item">
                <a ui-sref="main.gallery({id:gallery.id})">
                  <img src="{{gallery.photos[0]}}" alt="">
                  <div class="overlay">
                    <div class="overlay-inner">
  <form action="">
			<input class="star star-5" ng-disabled="true" id="star-5" ng-checked="gallery.averageRating === 5" type="radio" ng-click="rating(5)" name="star"/>
			<label class="star star-5" for="star-5"></label>
			<input class="star star-4" ng-disabled="true" id="star-4" ng-checked="gallery.averageRating === 4" type="radio" ng-click="rating(4)" name="star"/>
			<label class="star star-4" for="star-4"></label>
			<input class="star star-3" ng-disabled="true" id="star-3" ng-checked="gallery.averageRating === 3" type="radio" ng-click="rating(3)" name="star"/>
			<label class="star star-3" for="star-3"></label>
			<input class="star star-2" ng-disabled="true" id="star-2" ng-checked="gallery.averageRating === 2" type="radio" ng-click="rating(2)" name="star"/>
			<label class="star star-2" for="star-2"></label>
			<input class="star star-1" ng-disabled="true" id="star-1" ng-checked="gallery.averageRating === 1" type="radio" ng-click="rating(1)" name="star"/> 
			<label class="star star-1" for="star-1"></label>
		  </form>
                      <h3>{{gallery.title}}</h3>
                      <p>{{gallery.tagline}}</p>
                      <input type="submit" class="margin-0" value="VIEW THIS WEDDING">
                    </div>
                    <!-- End overlay-inner -->
                  </div>
                  <!-- End overlay -->
                </a>
              </div>
              <!-- End project-item -->
            </div>
            <!-- End col-1-of-3 -->
            <!-- Project -->

          </div>
          <!-- End home-projects -->
          <div class="View-more">
          <a href="" class="morebtn hvr-sweep-to-top" ng-click="galleryLimit += 10">LOAD MORE</a>
          </div>
        </div>
        <!-- End col-md-12 -->
      </div>
    </div>
  </div>
</div>
