<div class="header" id="home" ng-controller="MainCtrl">
  <div class="header-top" ng-hide="">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="col-lg-4 col-md-4 col-sm-5">
        <div class="social-icons">
          <a href="{{socialLinks.youtube}}"><i class="icon1"></i></a>
          <a href="{{socialLinks.twitter}}"><i class="icon2"></i></a>
          <a href="{{socialLinks.pinterest}}"><i class="icon3"></i></a>
          <a href="{{socialLinks.facebook}}"><i class="icon4"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-7 hidden-sm hidden-xs">Find the perfect team to make your dreams come true</div>
      <div class="col-lg-4 col-md-4 col-sm-7">
        <div class="icon">
          <ul>
            <li>
              <div id="form-content" class="modal hide fade in" style="display: none;">
                <div class="modal-body">
                  <form class="login-form" name="contact" ng-submit="loginMethod(userData)">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                      <h3>WELCOME BACK</h3>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                      <h1>Wedding Belles are in the air!</h1>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="col-lg-6 col-md-6 col-sm-6 border-right">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-8"><input type="text" placeholder="Username" ng-model="userData.username" /></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-8"><input type="password" placeholder="Password" ng-model="userData.password" /></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-8"><input type="submit" value="LOGIN" /></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-8"><a href="#">FORGET PASSWORD?</a></div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="col-lg-12 col-md-12 col-sm-12"><img src="public/images/f_heart.png" alt="" /></div>
                        <div class="col-lg-12 col-md-12 col-sm-12"><a href="/auth/facebook"><input type="button" value="LOGIN FACEBOOK" /></a></div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <h4>Don't have an account with us? No problem.</h4>
                    </div>
                    <a ng-click="signupredirect()" href="">
                      <div class="col-lg-12 col-md-12 col-sm-12"><span>Register</span></div>
                    </a>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>

 <div id="vendor-form-content" class="modal hide fade in" style="display: none;">
                <div class="modal-body">
                  <form class="login-form" name="contact" ng-submit="loginVendorMethod(userData)">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                      <h3>WELCOME BACK</h3>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                      <h1>Wedding Belles are in the air!</h1>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="col-lg-6 col-md-6 col-sm-6 border-right">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-8"><input type="text" placeholder="Username" ng-model="userData.username" /></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-8"><input type="password" placeholder="Password" ng-model="userData.password" /></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-8"><input type="submit" value="LOGIN" /></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-8"><a href="#">FORGET PASSWORD?</a></div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="col-lg-12 col-md-12 col-sm-12"><img src="public/images/f_heart.png" alt="" /></div>
                        <div class="col-lg-12 col-md-12 col-sm-12"><a href="/auth/facebook"><input type="button" value="LOGIN FACEBOOK" /></a></div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <h4>Don't have an account with us? No problem.</h4>
                    </div>
                    <a href="#/main/vendorsignup">
                      <div class="col-lg-12 col-md-12 col-sm-12"><span>Register</span></div>
                    </a>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>


              <a class="btn btn-primary btn-large" ng-hide="user.accessToken || vendor.accessToken" ng-click="loginModal()">LOGIN</a>
            </li>
            <li><a ui-sref="main.signup" ng-hide="user.accessToken || vendor.accessToken" class="btn btn-primary btn-large">SIGN UP</a></li>
            <li><a ng-hide="user.accessToken || vendor.accessToken" class="btn btn-primary btn-large" href="#/main/vendorsignup">ARE YOU A VENDOR?</a></li>
            <li ng-show="user.accessToken"><a  class="btn btn-primary btn-large" ng-click="logoutMethod()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="container">
    <div class="header-bottom">
      <div class="search">
        <form role="form" ng-submit="search(searchKeyword)">
          <input type="text" placeholder="Search" name="search" ng-model="searchKeyword" />
          <input type="submit" value="Search" style="display:none;"/>
        </form>
      </div>
      <div class="logo">
        <h1><a href="#/main/home"><img src="public/images/logo.png" class="img-responsive"></a></h1>
      </div>
      <div id="wrapper" class="page page-id-146 page-template-default post_type_page horiz_submenus_page">
        <header id="headers_margin">
          <div id="headers">
            <div id="header_wrapper_margin" class="dottoro_standard_header">
              <div id="header_wrapper">
                <div class="inner">
                  <div id="header_margin">
                    <div id="header">
                      <nav class="popup_menu horizontal js-menu" id="nav" role="navigation">
                        <div class="dropdown" ng-repeat="item in menu.items">
                          <!-- trigger button -->
                          <ul class="menu menu_normal" id="menu-classic-small">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children opendir_downward menu-item-301 folder" id="menu-item-301">

<a class="btn btn-default btn-dropdown" ng-show="item.type === 'URL'" ng-href="{{item.link}}">{{item.name}}</a>
<a class="btn btn-default btn-dropdown" ng-show="item.type === 'Category'" ui-sref="main.category({id:item.link})">{{item.name}}</a>
<a class="btn btn-default btn-dropdown" ng-show="item.type === 'Post'" ui-sref="main.post({id:item.link})">{{item.name}}</a>
<a class="btn btn-default btn-dropdown" ng-show="item.type === 'Gallery'" ui-sref="main.gallery({id:item.link})">{{item.name}}</a>
<a class="btn btn-default btn-dropdown" ng-show="item.type === 'Page'" ui-sref="main.page({id:item.link})">{{item.name}}</a>
<a class="btn btn-default btn-dropdown" ng-show="item.type === 'Blog'" href="#/main/blog">{{item.name}}</a>
<a class="btn btn-default btn-dropdown" ng-show="item.type === 'Vendors'" href="#/main/vendormain">{{item.name}}</a>
<a class="btn btn-default btn-dropdown" ng-show="item.type === 'Contact'" href="#/main/contact">{{item.name}}</a>
<a class="btn btn-default btn-dropdown" ng-show="item.type === 'Galleries'" href="#/main/galleries">{{item.name}}</a>
<a class="btn btn-default btn-dropdown" ng-show="item.type === 'Home'" href="#/main/home">{{item.name}}</a>
<a class="btn btn-default btn-dropdown" ng-show="item.type === 'Review'" ng-click="reviewAuth()">{{item.name}}</a>

                              <!-- dropdown menu -->
                              <ul class="dropdown-menu" ng-show="item.subitems">
                                <li ng-repeat="subitem in item.subitems">
<a ng-show="subitem.type === 'URL'" ng-href="{{item.link})">{{subitem.name}}</a>
<a ng-show="subitem.type === 'Category'" ui-sref="main.category({id:subitem.link})">{{subitem.name}}</a>
<a ng-show="subitem.type === 'Post'" ui-sref="main.post({id:subitem.link})">{{subitem.name}}</a>
<a ng-show="subitem.type === 'Gallery'" ui-sref="main.gallery({id:subitem.link})">{{subitem.name}}</a>
<a ng-show="subitem.type === 'Page'" ui-sref="main.page({id:item.link})">{{subitem.name}}</a>
</li>
                              </ul>
                            </li>
                          </ul>
                        </div>
  <div class="dropdown">

                        </div>
                      </nav>
                      <ul id="nav_compressed" class="menu menu_compressed">
                        <li class="folder menu_back" id="nav_compressed_item_back"><a><span class="submenu_icon_before"></span><span class="label_holder"><span class="label">Back</span></span><span class="submenu_icon_after"></span></a></li>
                        <li class="folder menu_menu" id="nav_compressed_item_menu"><a><span class="submenu_icon_before"></span><span class="label_holder"><span class="label">Menu</span></span><span class="submenu_icon_after"></span></a></li>
                      </ul>
                    </div>
                    <!-- #header -->
                  </div>
                  <!-- #header_margin -->
                </div>
                <!-- .inner -->
              </div>
              <!-- #header_wrapper -->
            </div>
            <!-- #header_wrapper_margin --><!-- #subheader_wrapper_margin -->
          </div>
          <!-- #headers -->
        </header>
        <!-- #headers_margin --><!-- #body_wrapper_margin --><!-- #footer_wrapper_margin -->
      </div>
      <div class="clearfix"></div>
      <div class="hdr" ng-show="showSelect">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <select  class="mainselection" ng-model="categorySelected" ng-change="vendorDirectory(categorySelected)" ng-options="c for c in vendorCategories">
           <option value="">Select a Category</option>
          </select>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <ul>
            <li><a href="#/main/vendormaintwo?type=Photography" ng-click="changeVendorSearch('Photography')"><i class="photo"> </i></a></li>
            <li><a href="#/main/vendormaintwo?type=Fashion" ng-click="changeVendorSearch('Bridal Fashion')"><i class="dress"> </i></a></li>
            <li><a href="#/main/vendormaintwo?type=Shoes" ng-click="changeVendorSearch('Shoes')"><i class="walk"> </i></a></li>
            <li><a href="#/main/vendormaintwo?type=Vendue" ng-click="changeVendorSearch('Venue')"><i class="venue"> </i></a></li>
            <li><a href="#/main/vendormaintwo?type=Lighting" ng-click="changeVendorSearch('Lighting')"><i class="sat"> </i></a></li>
            <li><a href="#/main/vendormaintwo?type=cakes" ng-click="changeVendorSearch('Cakes and treats')"><i class="event"> </i></a></li>
            <li><a href="#/main/vendormaintwo?type=Catering" ng-click="changeVendorSearch('Catering')"><i class="catering"> </i></a></li>
            <li><a href="#/main/vendormaintwo?type=Bridal" ng-click="changeVendorSearch('Bridal Fashion')"><i class="gown"> </i></a></li>
            <li><a href="#/main/vendormaintwo?type=Jewelry" ng-click="changeVendorSearch('Jewelry')"><i class="crown"> </i></a></li>
            <li><a href="#/main/vendormaintwo?type=Jewelry" ng-click="changeVendorSearch('Jewelry')"><i class="ring"> </i></a></li>
            <li><a href="#/main/vendormaintwo?type=Makeup" ng-click="changeVendorSearch('Makeup')"><i class="makeup"> </i></a></li>
            <li><a href="#/main/vendormaintwo?type=Menswear" ng-click="changeVendorSearch('Menswear')"><i class="bow"> </i></a></li>
            <li><a href="#/main/vendormaintwo?type=Officiant" ng-click="changeVendorSearch('Wedding Officiant')"><i class="mesg"> </i></a></li>
            <li><a href="#/main/vendormaintwo?type=Planner" ng-click="changeVendorSearch('Event Planner')"><i class="planner"> </i></a></li>
            <li><a href="#/main/vendormaintwo?type=Cinematography" ng-click="changeVendorSearch('Cinematography')"><i class="vdo"> </i></a></li>
            <li><a href="#/main/vendormaintwo?type=DJ" ng-click="changeVendorSearch('DJ')"><i class="music"> </i></a></li>


          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="banner_txt">CHOOSE A VENDOR CATEGORY</div>
      </div>
    </div>
  </div>
</div>
<div ui-view ></div>
<div class="footer-section" >
  <div class="container">
    <div class="bottom-menu">
      <ul>
        <li ng-repeat="item in footerMenu.items">
<a href="{{item.}}" class="active">{{item.title}}</a>
<a  ng-show="item.type === 'URL'" ng-href="{{item.link}}">{{item.name}}</a>
<a  ng-show="item.type === 'Category'" ui-sref="main.category({id:item.link})">{{item.name}}</a>
<a  ng-show="item.type === 'Post'" ui-sref="main.post({id:item.link})">{{item.name}}</a>
<a  ng-show="item.type === 'Gallery'" ui-sref="main.gallery({id:item.link})">{{item.name}}</a>
<a  ng-show="item.type === 'Page'" ui-sref="main.page({id:item.link})">{{item.name}}</a>
<a  ng-show="item.type === 'Blog'" href="#/main/blog">{{item.name}}</a>
<a  ng-show="item.type === 'Vendors'" href="#/main/vendormain">{{item.name}}</a>
<a ng-show="item.type === 'Contact'" href="#/main/contact">{{item.name}}</a>
<a  ng-show="item.type === 'Home'" href="#/main/home">{{item.name}}</a>
<a  ng-show="item.type === 'Galleries'" href="#/main/galleries">{{item.name}}</a>
<a  ng-show="item.type === 'Review'" ng-click="reviewAuth()">{{item.name}}</a>

</li>
      </ul>
      <div class="footer-left">
        <p><span ng-repeat="item in footerMenuTwo.items">
<a href="{{item.}}" class="active">{{item.title}}</a>
<a  ng-show="item.type === 'URL'" ng-href="{{item.link}}">{{item.name}}</a>
<a  ng-show="item.type === 'Category'" ui-sref="main.category({id:item.link})">{{item.name}}</a>
<a  ng-show="item.type === 'Post'" ui-sref="main.post({id:item.link})">{{item.name}}</a>
<a  ng-show="item.type === 'Gallery'" ui-sref="main.gallery({id:item.link})">{{item.name}}</a>
<a  ng-show="item.type === 'Page'" ui-sref="main.page({id:item.link})">{{item.name}}</a>
<a  ng-show="item.type === 'Blog'" href="#/main/blog">{{item.name}}</a>
<a  ng-show="item.type === 'Vendors'" href="#/main/vendormain">{{item.name}}</a>
<a ng-show="item.type === 'Contact'" href="#/main/contact">{{item.name}}</a>
<a  ng-show="item.type === 'Galleries'" href="#/main/galleries">{{item.name}}</a>
<a  ng-show="item.type === 'Home'" href="#/main/home">{{item.name}}</a>
<a  ng-show="item.type === 'Review'" ng-click="reviewAuth()">{{item.name}}</a>
</span></p>
      </div>
    </div>
    <div class="clearfix"></div>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 footer">    © 2015 Shaadi Belles</div>
<script src="public/js/plugin/custom.js"></script>
