<div class="header-slider">
  <div style="height: 305px">
    <carousel interval="5000" no-wrap="noWrapSlides">
      <slide>
        <img style="width: 100%; height: 800px;" src="{{page.cover}}" style="margin:auto;">
      </slide>
    </carousel>
  </div>
</div>
<div class="content" style="margin-top: 400px;">
  <div class="container">
    <div class="blogs-top">
      <div class="blog-top">
        <div class="col-md-7 col-lg-7 col-xs-12 col-sm-6 blogs-top">
          <h1>{{page.title}}</h1>
          <h3>{{page.description}} <i class="mess"><img src="public/images/msg_icon.png" width="39" height="39" /></i></h3>
         

        
        </div>
        
        <div class="clearfix"> </div>
        <div ng-show="page.content != null" ng-bind-html="page.content">
        {{post.content}}
        </div>
     
      </div>

     
			
        <div class=" clearfix"></div>
      </div>
    </div>
  </div>
</div>
