<!-- header-section-ends --> 
<script type="text/ng-template" id="alertbox.tpl.html">
  <input id="addrSearch" name="searchAddress"  type="text" class="textfield" ng-model="address">
</script>
<div class="content">
  <!---->
  <div class="container">
  <div id="vendorsaved" class="modal hide fade in" style="display: none;">
          <div class="modal-body">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <h1>Your basic profile is saved !</h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="col-lg-12 col-md-12 col-sm-12"><img src="public/images/f_heart.png" alt="" /></div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 border-right">
                <h3>Upgrade to a </br> Premium Listing and </br> gain access to more than 10,000 </br> South Asian inspired </br> brides</h3>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <h4>Upload photos, feature your websites, </br> social media, and more</h4>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-8 text-center"><a class="btn btn-default btn-bg" style="background-color: #F79F81; color: #ffffff; padding: 10px;" ng-click="gopremium()"> SUBMIT PREMIUM</a></div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="margin-top: 30px;">
              <a style="background-color: #ffffff; color: gray;" href="/">  No Thanks </a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
    <div class="top-grid-top">
      <div class="signup1-form-grid col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 breadcrumb_margin">
            <p>HOME/VENDOR PREMIUM</p>
          </div>
        </div>
       
   
        <form class="form" id="step3" stripe-form="handleStripe">
          <div class="col-md-offset-2 col-sm-offset-2 col-sm-8 col-md-8 col-lg-8">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <label>CREDIT CARD INFORMATION</label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <input type="text" placeholder="Card Name" class="form-input"  type="text" ng-model="name" >
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="text" placeholder="Card Number" class="form-input" payments-format="card" payments-validate="card" ng-model="number">
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="text" placeholder="Card Expiry" class="form-input" ng-model="expiry" payments-format="expiry"  payments-validate="expiry">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="col-md-8 col-lg-8 col-sm-8">
                  <input type="text" placeholder="Card Security Code" class="form-input"  ng-model="cvc" payments-format="cvc" payments-validate="cvc" >
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                  <img alt="" src="public/images/credit-card.png">
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 text-right">
                <img alt="" src="public/images/payment-card.jpg">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <input type="submit" value="SUBMIT PREMIUM ACCOUNT" />
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 margin-top-40"></div>
        </div>
      </div>
    </div>
  </div>
</div>
