<!-- header-section-ends --> 
<div class="header-slider">
  <a class="callbacks_share" href="#">Previous</a>
  <div class="slider">
    <div class="callbacks_container">
      <ul class="rslides" id="slider">
        <li>
          <img src="public/images/banner_bride.jpg" alt="">
          <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 banner-vendor">
            <h1>INSIDE SCOOP, HOT DEALS, AND MORE INSPIRATION THAN EVER</h1>
            <h2>Registration successfull, Please login here</h2>
       <a class="btn btn-success" style="padding: 10px; font-size: 20px;" href="/auth/facebook"> login </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!----------->
<div class="content">
  <!---->
  <div class="container">
    <div class="sign-up col-md-12 col-lg-12 col-sm-12">
      <div class="sign-up-inner col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-lg-12 col-sm-12 breadcrumb_margin">
          <p>HOME/EMAIL VERFICATION SENT</p>
        </div>
        <div class="col-md-offset-2 col-sm-offset-2 col-md-8 col-lg-8 col-sm-8">
          <h3>WE PINKY PROMISE THAT YOU WILL GET ALL THE BEST THAT 
            SHAADI BELLES HAS TO OFFER! 
          </h3>
        </div>
        <div class="col-md-offset-2 col-sm-offset-2 col-md-9 col-lg-9 col-sm-9">
          <p>Share and spread the love! Our site will only get better with your contributions. Drop us a line and send us your pictures, article ideas, opinions and questions. We love feedback, and we promise to get back to you! </p>
 
        </div>

        <div class="col-md-12 col-lg-12 col-sm-12 margin-top-40"></div>
 
      </div>
    </div>
  </div>
</div>


