<div class="container">
  <div class="row">
    <div class="panel-heading">
      <h3 class="panel-title">{{title}}</h3>
    </div>
    <div class="panel-body col-lg-6">
      <form role="form" angular-validator-submit="register(formData)" name="userForm" novalidate angular-validator>
        <fieldset>
          <div class="form-group">
            <input class="form-control" placeholder="Name" name="title" ng-model="formData.name" type="text" autofocus required-message="'This field is required.'" required>
          </div>
 <div ng-show="err" class="form-group">
   <label>{{err}}</label>
          </div>
          <div class="form-group">
            <input class="form-control" name="username" placeholder="Username" ng-model="formData.username" type="text" required-message="'This field is required.'" required>
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="E-mail" ng-model="formData.email" name="email" type="email" invalid-message="'Please enter valid email.'" required-message="'This field is required.'" required>
          </div>
          <div class="form-group">
            <input  type = "password" ng-if="!formData.id"
			placeholder="Password"
                            name = "password"
                            class = "form-control"
                            ng-model = "formData.password"
							required-message="'This field is required.'"
                            validate-on="dirty"
                            required>
          </div>

<div class="form-group">
            <input  type = "password" ng-if="!formData.id"
			placeholder="Confirm Password"
                            name = "confirmPassword"
                            class = "form-control"
                            ng-model = "formData.confirmPassword"
                            validator = "formData.password === formData.confirmPassword"
                            invalid-message = "'Passwords do not match!'"
							required-message="'This field is required.'"
                            required>
          </div>  
          <!-- Change this to a button or input when using this as a form -->
          <button type="submit"  class="btn btn-lg btn-success btn-block">{{buttonText}}</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
