<br>
<!--page content-->
<div class="row">
  <div class="col-lg-12">
    <div class="panel blank-panel">
      <div class="panel-body">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>
              <small>Create a {{buttonText}} by clicking new {{buttonText}} button, Deactivate a selected {{title}} by clicking deactivate button.</small>
            </h5>
          </div>
          <form class="form-inline">
            <div class="form-group">
              <input class="form-control" type="search" ng-model="searchText" placeholder="Search User Users"/>
            </div>
            <div class="form-group pull-right">
              <a href="#/dashboard/new-user" class="btn btn-primary btn-sm">New User</a>
              <button id="delete" ng-click = "deleteUsers()" class="btn btn-primary btn-sm"> Delete Selected</button>
             
            </div>
          
          </form>

          <div class="pull-right">
            <a class="btn btn-default" ng-click="pagingBack(result-20, 10)"><i class="fa fa-arrow-left"></i></a>
            <a class="btn btn-default" ng-click="pagingFront(result, 10)"><i class="fa fa-arrow-right"></i></a>
          </div>
          <!--shortcuts table-->
          <table class="ibox-content table table-hover">
            <!-- shortcuts table header-->
            <thead>
              <tr>
 <th>
                        <input type="checkbox" id="checkbox-head" class="regular-checkbox" ng-model="master" />
                        <label for="checkbox-head"></label>
                      </th>
                <th>{{buttonText}}</th>
                <th>Email</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <!--shortcuts table header ends here-->
            <!-- shortcuts table data-->
            <tbody>
              <tr ng-repeat="user in users | filter:searchText">
                     <td>
                        <input type="checkbox" id="{{user.id}}" class="regular-checkbox-td" ng-checked="master" />
                        <label for="{{user.id}}"></label>
                      </td>
                <td><strong>{{user.name || user.username}}</strong></td>
                <td>{{user.email}}</td>
                <td>
              <a class="btn btn-sm btn-success" ng-show="user.active" ng-click="disable(user)">Disable</a>
                    <a class="btn btn-sm btn-warning" ng-hide="user.active" ng-click="activate(user)">Enable</a>
                </td>
                <td>
                  <a class="btn btn-sm btn-primary" href="#/dashboard/edit-user?id={{user.id}}">Edit</a>
                </td>
              </tr>
            </tbody>
            <!-- shortcuts table data ends here-->
          </table>
        </div>
        <!--ibox -->
      </div>
      <!-- panel body-->
    </div>
    <!--panel-->
  </div>
</div>
<!-- page content -->
<!-- page ends here -->
