<style>
  .chosen-container{
  width: auto !important;
  }
</style>
<div class="row">
<div class="col-lg-12">
<div class="panel blank-panel">
<div class="panel-body">
<div class="ibox float-e-margins">
<div class="ibox-title">
  <h4>Complete this form to {{buttonText}} Wiget</h4>
</div>
<div class="ibox-content">
  <form role="form" >
    <div class="col-lg-6">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" ng-model="widget.title" Placeholder="Widget Name" required>
      </div>
      <div class="form-group">
        <label>Sub Title</label>
        <input type="text" class="form-control" ng-model="widget.subtitle" Placeholder="Widget sub title" required>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group" ng-init="slider.visible = true">
        <label for="shortcut">Visiblity</label>
        <br>
        <a class="btn btn-success" ng-show="widget.visible" ng-click="widget.visible = false">Visible</a>
        <a class="btn btn-danger" ng-hide="widget.visible" ng-click="widget.visible = true">Not Visible</a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label>Type</label>
        <select ng-model="widget.content.type" class="form-control">
          <option>Wedding</option>
          <option>Post</option>
          <option>Category</option>
          <option>Gallery</option>
        </select>
      </div>
    </div>
    <div class="col-lg-6" style="margin-top: 30px;">
      <div class="form-group" ng-show="widget.content.type === 'Post'">
        <select 
          data-placeholder="Select post"
          class="form-control"
          chosen
          ng-model="widget.content.id"
          ng-options="item.id as item.title for item in posts | filter:item.wedding='false'">
          <option value="" ></option>
        </select>
      </div>
	  <div class="form-group" ng-show="widget.content.type === 'Wedding'">
        <select 
          data-placeholder="Select wedding"
          class="form-control"
          chosen
          ng-model="widget.content.id"
          ng-options="item.id as item.title for item in posts | filter:item.wedding='true'">
          <option value="" ></option>
        </select>
      </div>
      <div class="form-group" ng-show="widget.content.type === 'Category'">
        <select 
          data-placeholder="Select category"
          class="form-control"
          chosen
          ng-model="widget.content.id"
          ng-options="item.id as item.name for item in categories">
          <option value=""></option>
        </select>
      </div>
      <div class="form-group" ng-show="widget.content.type === 'Gallery'">
        <select 
          data-placeholder="Select gallery"
          class="form-control"
          chosen
          ng-model="widget.content.id"
          ng-options="item.id as item.title for item in galleries">
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group">
        <label for="Message">Description</label>
		<div text-angular ng-model="widget.description" ta-file-drop="upload"></div>
      </div>
    </div>
    <div class="col-lg-12" style="margin-top: 10px;">
      <div class="col-lg-4">
        <div class="pull-right" style="margin-left: 20px;">
          <button class="btn btn-default btn-primary" type="button"
            ngf-change="upload(files[0])"
            ng-model="files" ngf-accept="'image/*,application/pdf'" ngf-select>Add Cover</button>
        </div>
      </div>
      <div class="col-lg-6" >
        <img src="{{widget.cover}}" ng-show="widget.cover" style="height: 200px;">
      </div>
    </div>
    <div class="col-lg-12" style="margin-top: 10px;">
      <div class="col-lg-4">
        <div class="pull-right" style="margin-top: 20px;">
          <button class="btn btn-default btn-primary" type="button"
            ngf-change="uploadVideo(videos[0])"
            ng-model="videos" ngf-accept="'video/*,application/pdf'" ngf-select>Add Video</button>
        </div>
        <div class="pull-right">
          <div class="input-group" style="margin-top: 20px;">
            <input type="text" class="form-control" ng-model="url" placeholder="Embed Youtube video">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="setYoutubeUrl(url)">Submit</button>
            </span>
          </div>
        </div>
        <div class="pull-right">
          <div class="input-group" style="margin-top: 20px;" >
            <input type="text" class="form-control" ng-model="video" placeholder="URL">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="setUrl(video)">Submit</button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-6" ng-show="widget.video.type === 'youtube'" ng-bind-html="widget.video.url">
      </div>
      <div class="col-lg-6" ng-show="widget.video.type === 'url'">
        <video width="320" height="240" src="{{widget.video.url}}" controls>
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div class="col-lg-12" style="margin-top: 10px;">
      <div class="col-lg-4">
        <div class="pull-right" style="margin-left: 20px;">
          <button class="btn btn-default btn-primary" type="button"
            ngf-change="uploadVideoCover(videocover[0])"
            ng-model="videocover" ngf-accept="'image/*,application/pdf'" ngf-select>Add Video Cover</button>
        </div>
      </div>
      <div class="col-lg-6">
          <img src="{{widget.videocover}}" ng-show="widget.cover" style="height: 200px;">
      <div>
    </div>
    <div class="form-group col-lg-12">
      </br>
      <a class="btn btn-primary" ng-click="submitWidget(widget)">{{buttonText}}</a>
      <a href="#/dashboard/widgets">
         <button type="button" class="btn btn-danger">Cancel</button>
      </a>
    </div>
  </form>
  </div>
  </div>
  </div>
  </div>
</div>
</div>