<div class="row">
  <div class="col-lg-12">
    <div class="panel blank-panel ui-tab">
      <div class="panel-body">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h4>{{buttonText}} category</h4>
          </div>
          <div class="ibox-content">
            <br>
            <div class="col-lg-12">
             <form role="form" angular-validator-submit="createCategory(formData)" name="postForm" class="form-horizontal" novalidate angular-validator>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="shortcut">Category Name</label>
                    <input name="shortcut" type="text" class="form-control" ng-model="formData.name" placeholder="Name" required-message="'This field is required.'" required>
                  </div>
                  <div class="form-group" ng-init="item.visible = true">
                    <label for="shortcut">Visiblity</label>
                    <br>
                    <a class="btn btn-success" ng-show="formData.visible" ng-click="formData.visible = false">Visible</a>
                    <a class="btn btn-danger" ng-hide="formData.visible" ng-click="formData.visible = true">Not Visible</a>
                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <textarea cols="50" rows="10" name="description" class="form-control" id="Message" placeholder="Description" ng-model="formData.description" required-message="'This field is required.'" required>
                    </textarea>
                  </div>
<div class="form-group">
                            <label>Parent Category</label>
                    <label ng-show="formData.parentId === id">Please select another parent</label>
                            <select
                              data-placeholder="Select a Parent Category"
                              class="form-control"
                              chosen
                              ng-model="formData.parentId"
                              ng-options="item.id as item.name for item in categories">
                                <option value="none"> No Parent</option>
                            </select>
                          </div>
                  <div class="form-group">
                    <label>Keywords</label>
                    <textarea cols="50" rows="10" name="Message" class="form-control" id="Message" placeholder="Keywords separated by comma" ng-model="formData.keywords" required>
                    </textarea>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-disabled="formData.parentId === id">{{buttonText}}</button>
                    <a ui-sref="shortcut.list">
                    <a type="button" class="btn btn-warning" href="#/dashboard/categories">Cancel</a>
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
