<style>
  .real-wedding .chosen-container{
  width: auto !important;
  }
  .real-wedding label {
  width: 200px;
  }
</style>
<div class="row">
  <div class="col-lg-12">
    <div class="panel blank-panel">
      <div class="panel-body">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h4>{{title}} Post</h4>
          </div>
          <div class="ibox-content">
            <form role="form" ng-submit="submit(item)">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="shortcut">Title</label>
                  <input name="shortcut" id="shortcut" type="text" class="form-control" ng-model="post.title" Placeholder="Post Title" required>
                </div>

                <div class="form-group">
                  <label for="Message">Post Tagline</label>
                  <input type="text" ng-model="post.tagline" class="form-control" placeholder="Post Tagline">
                </div>
                <div class="form-group">
                  <label for="Message">Post Description</label>
				  <div text-angular ng-model="post.description" ta-file-drop="upload"></div>
                </div>
                <div class="form-group">
                  <label for="Message">Post Content</label>
                  <div ng-hide="post.events" text-angular ng-model="post.content" ta-file-drop="upload"></div>
                   <div class="form-group" ng-repeat="item in post.events">
                 
                    <textarea class="form-control" ng-model="item.content"></textarea>
                <div class="col-lg-10"  >
                     <div class="col-lg-3" ng-repeat="img in item.gallery">
            <a style="position: absolute; color: #f25c5c;" href="" ng-click="item.gallery.splice(item.gallery.indexOf(img), 1)"><i class="fa fa-times-circle-o fa-5x" ng-show="img" ></i></a>
                    <img class="img-responsive" src="{{img}}" style="max-height: 140px;" >
                      </div>
                     
                  </div>
                 <div class="col-lg-2">
 <div class="input-group"  ngf-drop ng-model="eventImage"
                      ngf-change="uploadEventImage(eventImage[0], item)"
                      ngf-drag-over-class="dragover"
                      ngf-accept="'image/*,application/pdf'">
                      <span class="input-group-btn">
                      <button class="btn btn-default" type="button"
                        ngf-change="uploadEventImage(eventImage[0], item)"
                        ng-model="eventImage" ngf-accept="'image/*,application/pdf'" ngf-select>Select File</button>
                      </span>
                    </div>
</div>
                </div>
                </div>
              </div>
              <div class="col-lg-6">
                  <div class="form-group">
                    <label>Upload Cover</label>
                    <div class="input-group"  ngf-drop ng-model="cover"
                      ngf-change="uploadCover(cover[0])"
                      ngf-drag-over-class="dragover"
                      ngf-accept="'image/*,application/pdf'">
                      <input type="text" class="form-control" ng-model="cover[0].name" placeholder="Select Or drop file">
                      <span class="input-group-btn">
                      <button class="btn btn-default" type="button"
                        ngf-change="uploadCover(cover[0])"
                        ng-model="cover" ngf-accept="'image/*,application/pdf'" ngf-select>Select File</button>
                      </span>
                    </div>
                  </div>
                <div class="form-group">
                    <img src="{{post.cover}}" height="140px" >
                  </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group col-lg-12">
                  <label>Published Date</label>
                  <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="post.date" is-open="opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
                <div class="form-group col-lg-12">
                  <label>Status</label>
                  <select class="form-control" ng-model="post.status" placeholder="Select a state">
                    <option>Published</option>
                    <option>Draft</option>
                    <option>Archived</option>
                  </select>
                </div>
                <div class="form-group col-lg-12">
                  <label>Categories</label>
                  <select
                    data-placeholder="Select Categories"
                    class="form-control"
                    chosen
                    ng-model="post.category"
                    ng-options="item.id as item.name for item in categories">
                  </select>
                </div>
              </div>
              <div class="form-group col-lg-12">
                <br>
                <a class="btn btn-primary" ng-click="publish(post)">{{buttonTextOne}}</a>
                <a class="btn btn-warning" ng-save="publish(post)">{{buttonTextTwo}}</a>
                <a href="#/dashboard/posts">
                <button type="button" class="btn btn-danger">Cancel</button>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
