<style>
  .chosen-container{
  width: auto !important;
  }
</style>
<div class="row">
<div class="col-lg-12">
  <div class="panel blank-panel">
    <div class="panel-body">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h4>Complete this form to {{buttonText}} Gallery</h4>
        </div>
        <div class="ibox-content">
          <form role="form" angular-validator-submit="publish(gallery)" name="galleryForm" class="form-horizontal" novalidate angular-validator>
            <div class="col-lg-6">
              <div class="form-group">
                <label>title</label>
                <input type="text" class="form-control" name="title" ng-model="gallery.title" Placeholder="Gallery Title" required-message="'This field is required.'" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group" ng-init="gallery.visible = true">
                <label for="shortcut">Visiblity</label>
                <br>
                <a class="btn btn-success" ng-show="gallery.visible" ng-click="gallery.visible = false">Visible</a>
                <a class="btn btn-danger" ng-hide="gallery.visible" ng-click="gallery.visible = true">Not Visible</a>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="Message">Description</label>
                <textarea cols="50" rows="4" name="Message" class="form-control" id="Message" ng-model="gallery.description" required-message="'This field is required.'" required>
                </textarea>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="Message">Tag Line</label>
                <textarea cols="50" rows="4" name="tagline" class="form-control" id="Message" ng-model="gallery.tagline">
                </textarea>
              </div>
            </div> 
              <div class="col-lg-12">
              <div class="form-group">
                <label for="Message">Tags and Keywords</label>
                <textarea cols="50" rows="4" name="tags" class="form-control" id="Message" ng-model="gallery.tags">
                </textarea>
              </div>
            </div>
              <div class="col-lg-6">
                  <div class="form-group">
                    <label>Upload Cover</label>
                    <div class="input-group"  ngf-drop ng-model="cover"
                      ngf-change="uploadCover(cover[0])"
                      ngf-drag-over-class="dragover"
                      ngf-accept="'image/*,application/pdf'">
                      <input type="text" class="form-control" name="cover" ng-model="cover[0].name" placeholder="Select Or drop file">
                      <span class="input-group-btn">
                      <button class="btn btn-default" type="button"
                        ngf-change="uploadCover(cover[0])"
                        ng-model="cover" ngf-accept="'image/*,application/pdf'" ngf-select>Select File</button>
                      </span>
                    </div>
					<div class="col-lg-6" ng-show="coverError == true">
						<div class="form-group has-error">
							<label class="control-label has-error validationMessage">This field is required.</label>
						</div>
					</div>
                  </div>
                <div class="form-group">
                    <img src="{{gallery.cover}}" height="140px" >
                  </div>
              </div>
           
            <div class="col-lg-12"  style="margin-top: 10px; border: 2px solid gray; height: 400px;"  >
           
           <div class="col-lg-6" style="height: 100%;" ngf-drop ng-model="file"
                      ngf-change="upload(file[0])"
                      ngf-drag-over-class="dragover"
                      ngf-accept="'image/*,application/pdf'" ngf-select >
                    <label>Drop or Click</label>
</div>
     <div class="col-lg-6">
<div class="col-xs-4" ng-repeat="item in gallery.photos" style="margin-top: 10px; " >

            <a style="position: absolute; color: #f25c5c;" href="" ng-click="gallery.photos.splice(gallery.photos.indexOf(item), 1)"><i class="fa fa-times-circle-o fa-5x" ng-show="item" ></i></a>
            <img src="{{item}}" ng-show="item" height="100%" width="100%">

              </div>
</div>
          


           
            </div>
			<div class="col-lg-6" ng-show="galleryImage == true">
				<div class="form-group has-error">
					<label class="control-label has-error validationMessage">This field is required.</label>
				</div>
			</div>
            <div class="form-group col-lg-12">
              <br>
              <button type="submit" class="btn btn-primary">{{buttonText}}</button>
              <a href="#/dashboard/galleries">
              <button type="button" class="btn btn-danger">Cancel</button>
              </a>
            </div>
          </form>
		  <!--<form angular-validator-submit="submitMyForm()" name="myForm" class="form-horizontal" novalidate angular-validator>
            <h4>Choose when to validate:</h4>
            <div class="form-group">
                <label class="col-sm-2 control-label">On dirty validation</label>
                <div class="col-sm-10">
                    <input  type = "text"
                        name = "dirty"
                        validate-on="dirty"
                        class = "form-control"
                        ng-model = "form.dirty"
                        ng-pattern="/regex/"
                        invalid-message="'You must enter the word `regex`'"
                        required-message="'Yo! This field is required.'"
                        required></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">On blur validation</label>
                <div class="col-sm-10">
                    <input  type = "text"
                        name = "blur"
                        validate-on="blur"
                        class = "form-control"
                        ng-model = "form.blur"
                        ng-pattern="/regex/"
                        invalid-message="'You must enter the word `regex`'"
                        required-message="'Yo! This field is required.'"
                        required></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">On submit validation</label>
                <div class="col-sm-10">
                    <input  type = "text"
                        name = "sub"
                        class = "form-control"
                        ng-model = "form.sub"
                        ng-pattern="/regex/"
                        invalid-message="'You must enter the word `regex`'"
                        required-message="'Yo! This field is required.'"
                        required></div>
            </div>

            <hr>
            <h4>Different types of validation:</h4>

            <div class="form-group">
                <label class="col-sm-2 control-label">Custom validation Function</label>
                <div class="col-sm-10">
                    <input  type = "text"
                            name = "firstName"
                            class = "form-control"
                            ng-model = "form.firstName"
                            validator = "myCustomValidator(form.firstName)"
                            validate-on="dirty"
                            required></div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input  type = "email"
                            name = "emailAddress"
                            class = "form-control"
                            ng-model = "form.emailAddress"
                            invalid-message="'Thats not a real email address'"
                            required-message="'Yo this is required'"
                            validate-on="dirty"
                            required></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Regex</label>
                <div class="col-sm-10">
                    <input  type = "text"
                            name = "regex"
                            class = "form-control"
                            ng-model = "form.regex"
                            ng-pattern="/regex/"
                            invalid-message="'You must enter the word `regex`'"
                            required-message="'Yo! This field is required.'"
                            validate-on="dirty"
                            required></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Custom message Function</label>
                <div class="col-sm-10">
                    <input  type = "text"
                            name = "myField"
                            class = "form-control"
                            ng-model = "form.myField"
                            validator = "anotherCustomValidator(form.myField) === true"
                            invalid-message = "anotherCustomValidator(form.myField)"
                            validate-on="dirty"
                            required></div>
            </div>
            <hr>

            <h4>Password validation and password matching example</h4>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input  type = "password"
                            name = "password"
                            class = "form-control"
                            ng-model = "form.password"
                            validator = "passwordValidator(form.password) === true"
                            invalid-message = "passwordValidator(form.password)"
                            validate-on="dirty"
                            required></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-10">
                    <input  type = "password"
                            name = "confirmPassword"
                            class = "form-control"
                            ng-model = "form.confirmPassword"
                            validator = "form.password === form.confirmPassword"
                            validate-on="dirty"
                            invalid-message = "'Passwords do not match!'"
                            required></div>
            </div>
            <hr>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" ng-click="myForm.reset()" class="btn btn-primary">Reset</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>-->
        </div>
      </div>
    </div>
  </div>
</div>
