<br>
<!--page content-->
<div class="row">
  <div class="col-lg-12">
    <form class="form-inline col-lg-12">
      <div class="form-group">
        <input class="form-control" type="search" ng-model="searchText" placeholder="Search Pages"/>
      </div>
      <div class="form-group pull-right">
        <a ui-sref="dashboard.new-page" class="btn btn-primary btn-sm">Create Page</a>
        <button id="delete" ng-click = "deletePages()" class="btn btn-primary btn-sm"> Delete Selected</button>
        <a href="" ng-click="check(1)"><button class="btn btn-primary btn-sm"> <i class="fa fa-filter fa-fw"></i>Filters</button></a>
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-sm">SortBy</button>
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Title Ascending</a></li>
            <li><a href="#">Title Decending</a></li>
            <li><a href="#">Created Date</a></li>
            <li><a href="#">Status</a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <!-- /.nav-second-level -->
      </div>
      <div class="col-lg-12">
        <ul class="nav nav-second-level" collapse="collapseVar!=1">
          <li ui-sref-active="active">
            <br>
            <input type="text" class="form-control" placeholder="Filter with Title">
          </li>
          <br>
          <li ui-sref-active="active">
            <input type="text" class="form-control" placeholder="Filter with Keywords">
          </li>
          <br>
          <li ui-sref-active="active">
            <select class="form-control">
              <option>Example Tag</option>
            </select>
          </li>
          <br>
          <li ui-sref-active="active">
            <select class="form-control">
              <option>Example Category</option>
            </select>
          </li>
          <br>
          <li ui-sref-active="active">
            <select class="form-control">
              <option>Show only visible</option>
              <option>Show only invisible</option>
            </select>
          </li>
          <br>
          <li ui-sref-active="active">
            <button class="btn btn-warning" ng-click="check(1)" >Apply Filter</button>
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel blank-panel">
      <div class="panel-body">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>
              <small>Create a page by clicking create page button, Delete a selected page by clicking delete selected button.</small>
            </h5>
            <div class="pull-right">
              <a class="btn btn-default" ng-click="pagingBack(result-20, 10)"><i class="fa fa-arrow-left"></i></a>
              <a class="btn btn-default" ng-click="pagingFront(result, 10)"><i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
          <!--shortcuts table-->
          <table class="ibox-content table table-hover">
            <!-- shortcuts table header-->
            <thead>
              <tr>
                <th>
                  <input type="checkbox" id="checkbox-head" class="regular-checkbox" ng-model="master" />
                  <label for="checkbox-head"></label>
                </th>
                <th>Title</th>
                <th>Description</th>
           
                <th></th>
              </tr>
            </thead>
            <!--shortcuts table header ends here-->
            <!-- shortcuts table data-->
            <tbody>
              <tr ng-repeat="page in pages | filter: searchText">
                <td>
                  <input type="checkbox" id="{{page.id}}" class="regular-checkbox-td" ng-checked="master" />
                  <label for="{{page.id}}"></label>
                </td>
                <td><strong>{{page.title}}</strong></td>
                <td>{{page.description}}</td>
                
                <td>
                  <a class="btn btn-sm btn-primary" href="/#/dashboard/edit-page?id={{page.id}}">Edit</a>

                </td>
              </tr>
            </tbody>
            <!-- shortcuts table data ends here-->
          </table>
        </div>
        <!--ibox -->
      </div>
      <!-- panel body-->
    </div>
    <!--panel-->
  </div>
</div>
<!-- page content -->
<!-- page ends here -->
